<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register page</title>

    <link rel="stylesheet " href="style.css">

</head>
<body>
<h1>register page</h1>
<a href="/login">login her......</a><br>
<a href="/register">register her......</a><br>
<form action="/register" method="post"th:object="${registerObject}">
<div class="form">
    <div class="padding">
        <input type="text" class="input" placeholder="username">
        <input type="text" class="input" placeholder="password">
        <button>LOGIN</button>
        <p>Not registered? <span class="account">Create an account</span></p>


    </div>



</div>
</form>

</body>
</html>